<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.journal22">

    <application
        android:name=".journal22"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Journal22"
        >

        <activity
            android:name=".old.test"
           ></activity>
        <activity android:name=".old.calendar_view" />
        <activity
            android:name=".old.show_entry"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity
            android:name=".old.create_entry"
            android:parentActivityName=".MainActivity"
            >
        </activity>
        <activity android:name=".data.entriesActivity" />
        <activity android:name=".MainActivity"
            android:label="@string/app_name"

            android:windowSoftInputMode="adjustNothing"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>